@font-face {
  font-family: "Open Sans Semibold";
  src: url("OpenSans-SemiBold.eot");
  src: url("OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("OpenSans-SemiBold.woff") format("woff"),
    url("OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("OpenSans-Regular.eot");
  src: url("OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("OpenSans-Regular.woff") format("woff"),
    url("OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Light Italic";
  src: url("OpenSans-LightItalic.eot");
  src: url("OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("OpenSans-LightItalic.woff") format("woff"), url("OpenSans-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("Montserrat-ExtraBold.eot");
  src: url("Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("Montserrat-ExtraBold.woff") format("woff"), url("Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
