//====================================================================================================
.header {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 120px;
	}
	&__btn {
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
		outline: none;
	}
}

.logo {
	margin: 0 auto;
}

.menu {
	padding-right: 15px;

	&__list {
		display: flex;
	}
	&__list-item {
		padding-right: 45px;
		padding-left: 35px;
	}
	&__list-link {
		@extend %title-font;
		color: rgba(54, 56, 56, 0.9033);
	}
	&__list-link--active {
		position: relative;
		padding-bottom: 4px;
		&::after {
			content: '';
			position: absolute;
			border-radius: 1px;
			bottom: 0;
			left: 0;
			right: 0;
			height: 2px;background-color: rgba($primary-black, .7);
		}
	}
}


.rightside-menu {
	z-index: 6;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	max-width: 694px;
	width: 100%;
	background-color: white;
	padding-top: 40px;
	box-shadow: -2px 3px 17px 0px #000;
	transition: all 0.3s;

	&.rightside-menu--close {
		transform: translateX(+200%);
	}

	&__close {
		background-color: transparent;
		padding: 0;
		border: none;
		cursor: pointer;
		margin-left: 50px;
		outline: none;
		margin-bottom: 60px;
	}
	&__content {
		text-align: center;
		max-width: 485px;
		margin: 0 auto;
	}
	&__logo {
		display: inline-block;
		margin-bottom: 40px;
	}
	&__title {
		@extend %title-font;
		font-size: 36px;
		line-height: 51px;
		position: relative;
		margin-bottom: 17px;
		padding-bottom: 17px;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			max-width: 252px;
			margin: 0 auto;
			height: 1px;
			background: #6d7278;
			
		}
	}
	&__text {
		margin-bottom: 75px;
	}
	&__images {
		max-width: 485px;
	}
}
