.top {
  &__inner {
    padding-bottom: 70px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/slider-bg.jpg);
      width: 100%;
      height: 722px;
      top: 0;
      z-index: -1;
    }
  }

  &__slider-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  &__slider-img {
    margin-left: -14%;
    max-width: 703px;
    height: 815px;
    object-fit: cover;
  }

  &__slider-info {
    margin-left: 25px;
    max-width: 635px;
  }

  &__slider-title {
    @extend %title-font;
    font-size: 110px;
    line-height: 134px;
    padding-bottom: 26px;
    margin-bottom: 26px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 185px;
      height: 1px;
      background-color: #6d7278;
    }
  }

  &__slider-text {
    max-width: 585px;
  }
}

.new-collection {
  text-align: center;
  margin: 46px 0 104px;

  &__title {
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    padding-bottom: 25px;
    margin-bottom: 24px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 250px;
      height: 1px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: #6d7278;
    }
  }

  &__text {
    max-width: 730px;
    margin: 0 auto 30px;
  }
}

.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;

  &__item {
    position: relative;

    &:hover {
      .collection__info {
        opacity: 1;
      }
    }
  }
  &__images {
    min-height: 350px;
    object-fit: cover;
  }

  &__info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#fff, 0.6);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s;
  }

  &__info-title {
    @extend %title-font;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 19px;
    margin-bottom: 19px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 80%;
      height: 1px;
      background: #6d7278;
      margin: 0 auto;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &__info-text {
    font-family: "Open Sans Semibold", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
  }
}

.decor {
  padding: 170px 0 155px;
  background-image: url(../img/home/decor-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    @extend %title-font;
    max-width: 730px;
    font-size: 60px;
    line-height: 80px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 200px;
      bottom: 0;
      left: 0;
      background: #6d7278;
    }
  }

  &__text {
    max-width: 540px;
  }
}

.works-path {
  padding: 80px 0 30px;
  &__title {
    @extend %title-font;
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 51px;
  }

  &__items-box {
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid rgba($primary-black, .7);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-color: $primary-black;
      bottom: -5px;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
  &__item {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    height: 100%;
  }

  &__item--production{
    margin-left: 317px;
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 20px;
      width: 2px;
      background-color: rgba($primary-black, .7);
    }
  }
  &__item--production,
  &__item--consultation{
    padding-bottom: 38px;
  }
  &__item--measurements{
    margin-left: 305px;
    padding-top: 38px;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 2px;
      background-color: rgba($primary-black, .7);
    }
  }
  &__item-title {
    @extend %title-font;
    margin-left: 13px;
  }
  &__item-text {
    margin-top: 13px;
  }
}
