@media (max-width: 992px) {
    .footer__info {
        width: 380px;
    }
}

@media (max-width: 768px) {
    .header__btn {
        display: none;
    }
    .menu__list-item {
        padding-left: 0;
        & + .menu__list-item {
            padding-right: 0;
        }
    }
    .logo {
        margin: 0;
    }

    .footer__inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__info {
        width: 100%;
        margin-bottom: 50px;
    }
    .footer__info-text {
        max-width: 100%;
    }
    .footer__menu {
        margin-left: auto;
        margin-right: auto;
    }
    .footer__social {
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 540px) {
    .logo {
        order: -1;
        position: relative;
        z-index: 12;
    }
    .header__btn-menu {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        order: -1;
        position: relative;
        z-index: 12;

        span {
            background-color: black;
            width: 37px;
            height: 3px;
            border-radius: 6px;
            display: block;
            margin: 6px 0;
        }
    }
    .header__inner {
        flex-wrap: wrap;
        padding-top: 42px;
    }
    .menu {
        padding-right: 0;
        width: 100%;
        background-color: #fff;
        position: relative;
        z-index: 11;
        text-align: center;
        transform: translateY(-280px);
        transition: all 0.5s;

        &--open {
            transform: translateY(30px);
        }
    }
    .menu__list {
        display: block;
        &-item {
            padding-right: 0;
        }
        &-link {
            display: block;
            padding: 15px 0;
        }
    }
}

@media (max-width: 375px) {
    .footer__inner {
        justify-content: space-between;
    }
    .footer__social {
        margin-left: 0;
    }
    .footer__form {
        display: block;
        &-button {
            width: 100%;
            margin-left: 0;
            margin-top: 10px;
        }
    }
}