@media (max-width: 1600px) {
    .top__slider-title {
        font-size: 62px;
        line-height: 74px;
    }
    .top__slider-img {
        height: 640px;
        margin-left: 10%;
    }
}

@media (max-width: 1400px) {
    .top__slider-img {
        height: 640px;
        margin-left: 4%;
    }

    .collection {
        grid-template-columns: repeat(3, 1fr);

        &__images {
            width: 100%;
        }
    }

    .inspiration__images {
        margin: 0 77px 0px 0;
    }

    .map {
        margin-top: 0;
    }
}

@media (max-width: 1040px) {
    .blog__inner {
        flex-wrap: wrap;
    }
    .blog__items {
        max-width: 100%;
        width: 100%;
    }
    .blog__item {
        width: 100%;
        max-width: 100%;
    }
    .blog__item-img {
        width: 100%;
        max-width: 100%;
    }
    .aside {
        width: 100%;
        margin-left: 0;
        margin-bottom: 50px;
        order: -1;
    }
}

@media (max-width: 992px) {
    .top__inner::after {
        height: 100%;
    }
    .top__slider-img {
        height: 540px;
        margin-left: 2%;
    }
    .top__slider-title {
        font-size: 44px;
        line-height: 54px;
    }

    .collection {
        grid-template-columns: repeat(2, 1fr);

        &__images {
            width: 100%;
        }
    }

    .gallery__items {
        grid-gap: 10px;
    }
    .gallery__btn {
        margin: 2px;
        padding: 6px 10px;
    }

    .about__content {
        padding: 40px 0;
    }
    .about__text {
        padding-left: 0;
    }

    .inspiration__images {
        display: none;
    }

    .footer__info {
        width: 380px;
    }
}

@media (max-width: 840px) {
    .works-path__item {
        width: 350px;

        &--measurements {
            margin-left: 160px;
        }
        &--production {
            margin-left: 50px;
        }
    }
    .contact .contact__social,
    .contact__form,
    .contact__box {
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .header__btn {
        display: none;
    }
    .rightside-menu {
        display: none;
    }
    .menu__list-item {
        padding-left: 0;
        & + .menu__list-item {
            padding-right: 0;
        }
    }
    .logo {
        margin: 0;
    }

    .top__slider-img {
        height: 440px;
        margin: 0;
    }

    .decor {
        padding: 70px 0 55px;
    }

    .gallery__buttons {
        display: grid;
    }
    .gallery__btn {
        margin-bottom: 10px;
    }

    .about__prev {
        padding: 80px 0;
    }
    .partners__items {
        grid-template-columns: repeat(2, 1fr);
    }
    .partners__item:nth-child(3),
    .partners__item:nth-child(4),
    .partners__item:nth-child(5) {
        display: none;
    }

    .map {
        iframe {
            height: 320px;
        }
    }

    .footer__inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__info {
        width: 100%;
        margin-bottom: 50px;
    }
    .footer__info-text {
        max-width: 100%;
    }
    .footer__menu {
        margin-left: auto;
        margin-right: auto;
    }
    .footer__social {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 640px) {
    .top__inner {
        padding-bottom: 25px;
        padding-top: 30px;
    }
    .top__slider-item {
        flex-wrap: wrap;
    }
    .top__slider-text {
        margin-bottom: 15px;
    }

    .collection {
        grid-template-columns: repeat(1, 1fr);
    }

    .works-path__item--measurements:before,
    .works-path__item--production:after,
    .works-path__item--production:after,
    .works-path__items-box:after {
        display: none;
    }
    .works-path__items-box {
        border-bottom: none;
        flex-wrap: wrap;
    }
    .works-path__item--measurements {
        margin-left: 0;
        padding-top: 0;
        padding-bottom: 38px;
    }
    .works-path__item--production {
        margin-left: 0;
        order: 1;
    }

    .gallery__items {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-box__items {
        display: block;
    }
    .blog-box__img-link {
        margin-bottom: 10px;
        display: block;
    }
    .blog-box__img {
        width: 100%;
    }
    .blog-box__item {
        margin-bottom: 38px;
    }

    .contact__form-input {
        width: 100%;
    }
    .slick-dots li {
        padding: 0 8px;
    }
}

@media (max-width: 540px) {
    .header__btn {
        display: none;
    }
    .rightside-menu {
        display: none;
    }
    .logo {
        order: -1;
        position: relative;
        z-index: 12;
    }
    .header__btn-menu {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        order: -1;
        position: relative;
        z-index: 12;

        span {
            background-color: black;
            width: 37px;
            height: 3px;
            border-radius: 6px;
            display: block;
            margin: 6px 0;
        }
    }
    .header__inner {
        flex-wrap: wrap;
        padding-top: 42px;
    }
    .menu {
        padding-right: 0;
        width: 100%;
        background-color: #fff;
        position: relative;
        z-index: 11;
        text-align: center;
        transform: translateY(-350px);
        transition: all 0.5s;

        &--open {
            transform: translateY(30px);
        }
    }
    .menu__list {
        display: block;
        &-item {
            padding-right: 0;
        }
        &-link {
            display: block;
            padding: 15px 0;
            font-size: 16px !important;
            line-height: 27px !important;
        }
    }

    %title-font {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: $primary-black;
        font-size: 28px;
        line-height: 36px;
    }

    .works-path__item-title {
        font-size: 16px;
        line-height: 27px;
    }

    .gallery__items {
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery__item:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .blog-box__item-title {
        font-size: 22px;
        line-height: 32px;
    }

    .about__prev-title {
        font-size: 40px;
        line-height: 48px;
    }

    .inspiration__item-text {
        margin-right: 10px;
    }
    .inspiration__item-text,
    .inspiration_num {
        font-size: 16px;
        line-height: 23px;
    }

    .gallery.gallery-page .gallery__item:nth-child(8) {
        grid-column: 1;
        grid-row: 1;
    }

    .blog__category-title,
    .recent-posts__title,
    .blog__tags-title {
        font-size: 16px;
        line-height: 23px;
    }
    .blog__item-title {
        font-size: 24px;
        line-height: 38px;
    }
    .blog__blockquote {
        padding: 42px 31px;
    }
    .blog__blockquote-author {
        font-size: 16px;
        line-height: 22px;
    }

    .aside.blog-one-aside {
        display: none;
    }

    .blog-one__blockquote {
        padding: 30px 15px;
    }

    .blog-one__form-input {
        width: 100%;
        margin-bottom: 12px;
    }
    .blog-one__links {
        padding: 30px 0;
    }
    .blog-one__link {
        span {
            display: none;
        }
    }
    .blog-one__comments-item {
        flex-wrap: wrap;
    }
    .blog-one__comments-avatar {
        width: 48px;
        height: 48px;
    }
    .blog-one__comments-title {
        font-size: 20px;
        line-height: 31px;
    }
    .blog-one__comments-name {
        font-size: 16px;
        line-height: 23px;
    }
    .blog-one__comments-info {
        margin-top: -46px;
    }
    .blog-one__comments-name,
    .blog-one__comments-data {
        margin-left: 55px;
    }
    .blog-one__form-title {
        font-size: 16px;
        line-height: 23px;
    }
    .blog-one__reply {
        margin-top: 10px;
        margin-left: 0;
    }

    .btn-up {
        bottom: 25px;
        right: 25px;
    }

    .footer__info-title {
        font-size: 16px;
        line-height: 23px;
    }
}

@media (max-width: 375px) {
    .top__inner::after {
        height: 100%;
    }
    .top__slider-img {
        height: 350px;
        margin-left: 4%;
    }
    .top__slider-title {
        padding-bottom: 19px;
        margin-bottom: 19px;
    }

    .contact-slider {
        display: none;
    }

    .footer__inner {
        justify-content: space-between;
    }
    .footer__social {
        margin-left: 0;
    }
    .footer__form {
        display: block;
        &-button {
            width: 100%;
            margin-left: 0;
            margin-top: 10px;
        }
    }
}
