@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import "header";
@import "footer";
@import "home";

.breadcrumbs {
    background: rgba(#DFDFDF, .5);
    padding: 13px 14px;

    &__list {
        display: flex;
    }

    &__item::after{
        content: '/';
        margin-left: -3px;
        margin-right: 3px;
    }

    &__item:last-child::after {
        display: none;
    }

    &__link {
        font-size: 14px;
    }
}